<!-- Contact -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].contact.section | default: "contact" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext[site.locale].contact.title | markdownify | default: "Contact Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].contact.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form id="my-form" method="POST"
          action="https://script.google.com/macros/s/AKfycbwuL_tu4kWj9dLyyTLWogDe0kRHKQxNtONoCLLawBeI_QtvW47KkYU9dxettEsRPZtbDg/exec">
          <div class="row">
            <!-- Contact Information -->
            <div class="col-md-6">
              <div class="form-group">
                <input name="full_name" class="form-control" id="full_name" type="text"
                  placeholder="Full Name*" required="required"
                  data-validation-required-message="Please enter your full name.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input name="_replyto" class="form-control" id="email" type="email"
                  placeholder="Email Address*" required="required"
                  data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input name="phone" class="form-control" id="phone" type="tel"
                  placeholder="Phone Number (optional)">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input name="vin" class="form-control" id="vin" type="text"
                  placeholder="Vehicle VIN*" required="required"
                  data-validation-required-message="Please enter your vehicle's VIN.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <!-- Vehicle Information -->
            <div class="col-md-6">
              <div class="form-group">
                <input name="license_plate" class="form-control" id="license_plate" type="text"
                  placeholder="License Plate Number (optional)">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input name="year" min="1900" max="2025" class="form-control" id="year" type="number"
                  placeholder="Vehicle Year*" required="required"
                  data-validation-required-message="Please enter your vehicle's year.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input name="make" class="form-control" id="make" type="text"
                  placeholder="Vehicle Make*" required="required"
                  data-validation-required-message="Please enter your vehicle's make.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input name="model" class="form-control" id="model" type="text"
                  placeholder="Vehicle Model*" required="required"
                  data-validation-required-message="Please enter your vehicle's model.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Service/Repair Request -->
            <div class="col-md-12">
              <div class="form-group">
                <textarea name="message" class="form-control" id="message"
                  placeholder="Briefly describe the service or repair needed*" required="required"
                  data-validation-required-message="Please enter a description of the service or repair needed."></textarea>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <select name="service_time" class="form-control" id="service_time" required="required"
                  data-validation-required-message="Please select when you would like the service/repair completed.">
                  <option value="" disabled selected>When would you like the service/repair completed?*</option>
                  <option value="ASAP">ASAP</option>
                  <option value="Within a Week">Within a Week</option>
                  <option value="Within Two Weeks">Within Two Weeks</option>
                  <option value="Other">Other</option>
                </select>
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-lg-12 text-center">
            <div id="success" style="color: green;"></div>
         
            <button  class="btn btn-primary btn-xl text-uppercase" type="submit">
              Get Your Quote
            </button>
          </div>
         
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contact -->

  <script>
    window.addEventListener("load", function() {
  const form = document.getElementById('my-form');
  form.addEventListener("submit", function(e) {
    e.preventDefault();
    const data = new FormData(form);
    const action = e.target.action;
    document.getElementById("my-form").reset();
    document.getElementById('success').innerHTML = 'Message Sent Successfully';
    fetch(action, {
      method: 'POST',
      body: data,
    })
    .then(() => {
      document.getElementById('success').innerHTML = 'Message Sent Successfully';
    })
  });
});

  </script>